.page{
  background-color: #D3D3D3;
}

/*Page setting*/
body{
  width:95%;
  margin:0px auto;
  clear: both;

}

/*Navgation bars*/
nav {
  padding:0px;
}

nav ul{
  margin:0;
  padding:8px;
  list-style: none;
  background: red;
  border-radius: 5px;
}

nav ul li{
  display: inline-block;
  text-transform: uppercase;
}

nav ul li a{
  display:inline-block;
  height:45px;
  width: auto;
  padding:0 10px 0 10px;
  color: white;
  line-height: 45px;
  text-decoration: none;
  transition: background 0.5s linear 0s, color 0.5s linear 0s;
  border-radius: 5px;
}


nav ul ul {
  position: absolute;
  width:auto;
  display: none;
  background: #ff7400;
  text-align: center;
}

nav ul ul li{
  display: block;
  background: #ff7400;
}

nav a:hover, nav a.active{
  color:white;
  background-color: black;
  border-radius: 5px;
}

/*banner*/
.banner{
  text-align: left;
}

.social-media{
  float: right;
  padding-top: 55px;
}

.social-media a {
  text-decoration: none;
}

.social-media img{
  padding-right: 10px;
}


/*home-page*/
.home-content{
  width:65%;
  float:left;
  border-radius: 5px;
  background-color: white;
  margin: 0 0 10px 0;
  height: auto;
  padding: 2%;
  line-height: 20px;
}

.home-video {
  text-align: center;
  border-radius: 5px;
  background-color: black;
  margin:10px 0 10px 0;
  width: 100%;
  }




/*alt-content*/

.alt-content{
  width:96%;
  float:left;
  border-radius: 5px;
  background-color: white;
  margin: 10px 0 10px 0;
  height: auto;
  padding: 2%;
  line-height: 20px;
}

.alt-content h3{
  border-radius: 5px;
  background: #d3d3d3;
  text-align: center;
  padding:5px;
}

.video{
  text-align: center;

}


.dis-list li{
  margin-left: 10px;
  list-style-type: square;
}

/*calcutor-content*/
.extra-content{
  width:96%;
  float:left;
  border-radius: 5px;
  background-color: white;
  margin: 10px 0 10px 0;
  height: auto;
  padding: 2%;
  line-height: 20px;
  text-align: center;
}

.extra-content h2{
  border-radius: 5px;
  background: #d3d3d3;
  text-align: center;
  padding:5px;
}


/*sidebars*/

.topbar, .bottombar{
  text-align: center;
  width:25%;
  float:right;
  border-radius: 5px;
  background-color: white;
  margin: 0 0 10px 0;
  padding: 2%;
  line-height: 20px;
}

sidebar h4{
  margin-top: 0;
  margin-bottom: 5px;
}



/*Contact Form*/
.form-wrap{
  width: 100%;
  border-radius: 5px;
  background-color: white;
  margin: 10px auto;
}

form{
  width: 80%;
  margin:0 auto;
}

label{
  display:block;
  margin: 5px 0 5px 20px;
  color: blue;
}

input{
  width:200px;
  margin: 0 0 0 20px;
  border-color: black;
  border-radius: 3px;
}

textarea{
  width: 400px;
  height: 200px;
  margin: 0 0 0 20px;
  border-color: black;

}

fieldset{
  border: none;
  padding: 0 0 20px 0;
}

.labelone{
  margin-top: 10px;
}

.btn{
  width: 100px;
}

/*map*/
.map{
  display: none;
}

/*footer*/
footer {
  float: left;
  width: 100%;
  background: red;
  text-align: center;
  border-radius: 5px;
}



footer p{
  width:92%;
  margin:1% auto;
  color:white;
  font-style: italic;
  font-size: 90%;
}



/*compatibility*/

@media only screen and (min-width:150px) and (max-width:600px){

body{
  width:95%;
  font-size: 95%;
}

/*Navgation bars*/
nav ul li {
  display: block;
	text-align: center;
  padding-bottom: 5px;
}

nav a:hover, nav a.active, nav a:link{
  display: block;
}
nav ul ul {
  position: relative;
  width:auto;
}

/*home-page*/
.home-content{
  width: 96%;
  float: left;
  margin-bottom: 10px;
}

.topbar, .bottombar{
  width: 96%;
  float: left;
}

.home-video, .video {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
  border-radius: 0px;
}

.home-video iframe, .video iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;

}

/*map*/
.map iframe{
  width:auto;
  height:auto;
}

/*banner*/

.banner img{
  width: 50%;
}

.social-media img{
  width: 30px;
  height: 30px;
}

.social-media{
  padding-top: 70px;
}

.social-media img{
  padding-right: 5px;
}



/*Contact Form*/
form{
  width: 90%;
}

textarea{
  width: 80%;
  height: 150px;
}

}

@media print
{

nav, iframe, .social-media, aside, footer{
  display:none;
}

.home-content, .alt-content{
  width:98%;
}

.home-content a, .alt-content a{
  text-decoration:none;
}

h2{
  text-align: center;
  font-style: oblique;
  text-decoration: underline;
}

.banner{
  text-align: center;
}

}
